*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-shape-divider-top-1712145028 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1712145028 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 164px;
}

.custom-shape-divider-top-1712145028 .shape-fill {
    fill: #91bbcb;
    width: 100%;
}
.onbor {
    background-color: #e8991b;
    padding: 150px;
    width: 100%;
    padding-bottom: 100px;
    display: flex;
}
.onbor img {
    width: 200px;
    height: 200px;
}
.onbor h2, h3 {
    margin-right: 400px;
}
.bbit {
    margin-left: 60px;
}
