
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

  body {
    background-color: rgb(232, 228, 228);
  }
  img {
    margin: 10px;
    width: 100%;
  }
  header {
    width: 100%;
    height: 98px;
    display: flex;
    background-color: #2a4291f9;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
  }
  .logo {
    width: 70px;
    height: 90px;
  }
  
  .main {
    display: flex;
    align-items: center;
  }
  
  .main a {
    margin-right: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
    padding: 5px 10px;
    border-radius: 10px; 
    outline: 2px solid #ff6347; 
    outline-offset: 5px;
  }
  
  .main a:hover {
    background-color: #83730d; 
    color: #333; 
    outline-color: #fff; 
  }
  
  nav .logo {
    display: none;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav ul li a {
    color: #270505;
    display: block;
    margin: 0 6px;
    font-weight: 500;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
  }
  nav ul li a:hover {
    background: #83730d;   
  }
  
  .hamburger {
    display: none;
    height:fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
  }
  .hamburger:hover {
    background-color: #83730d; 
    color: #996969; 
    outline-color: #f33e3e; 
}
  .hamburger div {
    width: 26px;
    height: 2px;
    margin: 6px 0;
    background: #daf0f5;
  }

  .read {
    margin-top: 45px;
    margin-left: 10px;
    margin-bottom: 100px;
    background-color: #0d36a9;
    color: #fff;
    font-weight: 600;
    padding: 10px ;
    border-radius: 10px;
    cursor: pointer;
}


  .rotate-border {
    position: relative;
    margin-left: 100px;
    color: #0d36a9;
    text-align: center;
    
  }
  .rotate-border::before {
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 460px; 
    width: 2px; 
    height: 50px; 
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(212, 0, 135), rgb(212, 255, 255));
    transform-origin: top left; 
    transform: rotate(90deg); 
  }
  .coursee {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-left: 60px;
    margin-bottom: 14px;
  }
/* tooooooooooooolllllllllllssssssss */
.tools {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.tools .clon {
  color: #0d36a9;
  font-weight: 600;
  text-align: center;
}
.opening-hours {
  display: flex;
  align-items: center; 
  padding-right: 20px;
}
.opening-hours .icon {
  font-size: 35px; 
  margin-right: 10px; 
  margin-top: 30px;
  color: rgb(226, 168, 10);
}
.opening-hours .text {
  font-size: 17px;
  color: #040303;
}
.phone-container {
  display: flex;
  align-items: center;
  padding-right: 20px;  
}
.phone-container .icon {
  font-size: 30px; 
  margin-right: 10px; 
  margin-top: 30px;
  color: rgb(226, 168, 10);
}
.phone-container .text {
  font-size: 17px;
  color: #333;
}
.locate {
  display: flex;
  align-items: center; 
}
.locate .icon {
  font-size: 35px; 
  margin-right: 10px; 
  margin-top: 30px;
  color: rgb(226, 168, 10);
}
.involve {
  margin-top: 30px;
  background-color: rgb(226, 168, 10);
  padding: 30px;
}


    /* foottttteeerrrr */
    footer .conta{
      background-color: #03185af9;
  }
  .latest{
      color: white;
      margin-bottom: 25px;
      font-size: 18px;
  }
  .row{
      display: flex;
      justify-content: space-between;
      padding: 15px 30px ;
  }
  .footer-col ul{
      list-style: none;
  }
  
  .footer-col h4{
      color: white;
      margin-bottom: 25px;
      font-size: 22px;
      position: relative;
  }
  
  .footer-col h4::before{
      content: '';
      width: 70px;
      height: 2px;
      position: absolute;
      background-color: #ffbf0099;
      bottom: -10px;
  }
  
  .footer-col ul li{
      padding: 10px 0;
  }
  .footer-col ul li a{
      color: white;
      text-decoration: none;
      font-size: 16px;
      transition: 0.5s;
  }
  .footer-col ul li a:hover{
      opacity: 1;
  }
  .footer-col input{
      border: none;
      width: 250px;
      height: 45px;
      display: block;
      padding-left: 20px;
      margin: 14px 0;
  }
  
  .footer-col .inputSubmit{
      padding: 0px 20px;
      background-color: #ffbf0099;
      border: none;
      color: white;
  }
  .col p{
      color: white;
  }
  .row hr{
      opacity: 0.7;
  }
  
  .row .socialIcons i{
      display: inline-block;
      color: white;
      font-size: 20px;
      margin: 0 15px;
      transition: 0.5s;
  }
  
  .row .socialIcons i:hover{
      color: #ffbf0099;
  }
  @media (max-width: 768px) {
   
    .meet{
        font-size: 30px;
        margin-left: 200px;
        margin-top: -4px;
    }
    
    .card-content{
        margin-inline: 2rem;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: block;
    }
    
    .latest{
        color: white;
        margin-bottom: 25px;
        font-size: 12px;
    }
    .footer-col ul li{
        padding: 5px 2px;
    }
    .footer-col ul li a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        transition: 0.5s;
    }
    .footer-col h4{
        color: white;
        margin-bottom: 25px;
        font-size: 15px;
        margin-top: 30px;
        margin: 10px;
    }
    .footer-col input{
        border: none;
        width: 200px;
        height: 45px;
        display: block;
        padding-left: 0;
        margin: 14px 0;
    }
    
    .footer-col .inputSubmit{
        padding: 0px 20px;
        background-color: #ffbf0099;
        border: none;
        color: white;
    }
      }
      
      /* responsiveness for footer */
    @media (max-width: 600px){
        footer .row{
            flex-direction: column;
            padding: 30px 60px;
        }
    
        footer .footer-col ul{
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .footer-col input{
            width: 100%;
            
        }
        .row .socialIcons i{
          display: inline-block;
          color: white;
          font-size: 16px;
          margin: 0 15px;
          transition: 0.5s;
      }
    }

  
  @media (max-width: 991px) {
    .rotate-border::before {
        content: ""; 
        position: absolute; 
        top: 50%; 
        left: 160px; 
        width: 2px; 
        height: 50px; 
        background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(212, 0, 135), rgb(212, 255, 255));
        transform-origin: top left; 
        transform: rotate(90deg); 
  }
}
  @media (max-width: 768px) {
    .rotate-border::before {
        content: ""; 
        position: absolute; 
        top: 50%; 
        left: 120px; 
        width: 2px; 
        height: 50px; 
        background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(212, 0, 135), rgb(212, 255, 255));
        transform-origin: top left; 
        transform: rotate(90deg); 
  }
  .coursee {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }

}


/* featuredddddddddddddddd */
.row {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    width: 50%;
}

.tech {
    padding: 30px;
    padding-bottom: 30px;
  }

  .tech h4 {
  padding-left: 80px;
  border-left: 5px solid rgb(75, 81, 118);
  transform: translateX(60px) ;
  color: #0d36a9;
  }

  .tech .mid {
    text-align: center;
  }
  .mid {
    margin-bottom: 15px;
  }
  .tech .row h3 {
  color: #0d36a9;

  }

  .tech .left {
    margin-right: 20px; 
    margin-top: 12px;
    padding: 10px;
  }
  .tech .right {
    margin-left: 20px; 
    padding: 20px;
  }
.right p {
    margin-bottom: 0;
} 


/* gggggggggggeeeeeeeeetttttttt iiiiiiinvolved */

  .involve {
    background-color: rgb(226, 168, 10);
    padding: 10px;
    padding-bottom: 50px;
    width: 100%;
  }
  
  /* .title {
    color: #0d36a9;
    font-weight: 600;
    text-align: center;
    border-left: 5px solid rgb(75, 81, 118);
  } */
  
  .title p{
    font-size: 23px;
    font-weight: 600;
  }
  
  .typedText {
    display: flex;
    font-weight: 300;
    font-size: 17px;
  }
  
  .bire {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }
  
  .bire .con {
    background-color: #0d36a9;
    color: #fff;
    border-radius: 10px;
    padding: 11px 10px;
    cursor: pointer;
  } 
  



  /* RESPONSIVENESS */

    /* responsiveness for navbar */

    @media only screen and (max-width: 1100px) {
      .main {
      display: flex;
      align-items: center;
      margin-left: 280px;
      }
      header {
          width: 100%;
          padding: 0 20px;
      }
      nav {
          position: absolute;
          left: -300px;
          top: 0;
          z-index: 999;
          width: 280px;
          height: 87.8vh;
          background-color: #fefefe;
          transition: 0.4s ease;
          box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
      }
      #nav_check:checked ~ nav {
          left: 0;
      }
      nav .logo {
          display: block;
          height: 70px;
          display: flex;
          align-items: center;
          margin-left: 30px;
      }
      nav ul li a {
          margin-bottom: 5px;
          padding: 10px 15px;
          border-radius: 5px;
      }
      nav ul {
          display:block;
          padding: 0 20px;
          margin-top: 30px;
      }
      .hamburger {
          display: block;
      }
    }

  @media (max-width: 768px) {
      .bottom  .card-list2 {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 45px;
      }
      .bottom {
        width: 98%;
        display: grid;
        padding: 15px;
        margin-bottom: 30px;
        background-color: #1e2476;
        position: absolute;
        justify-content: space-evenly;
      }
      .involve {
        background-color: rgb(226, 168, 10);
        padding: 10px;
        padding-bottom: 50px;
        width: 100%;
      }
      .row {
        flex-direction: row;
    } 

    .left,
    .right {
        width: 90%;
    }
  }
  